#modals *:not(i) {
	font-family: Quicksand;
}

#modal-promp, #modal-confirm {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(rgba(0,0,0,.4), rgba(0, 0, 0, 0.7));
    z-index: 10;
    overflow-y: auto;
}

#modals .modal-box {
    width: 400px;
    background: #FEFEFE;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,.3)
}

#modals .modal-box h3 {
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid rgba(0,0,0,.1);
}

#modals .modal-box .input {
    padding: 10px;
    margin: 10px 0;
}

#modals .modal-botoes {
    display: flex;
    border-top: 1px solid rgba(0,0,0,.1);
}

#modals .modal-botoes span {
    width: 50%;
    padding: 15px 0;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
}

#modals .modal-cancelar {
    color: #e95950;
}

#modals .modal-ok {
    color: #2196F3;
}

#modals .modal-texto {
    margin: 20px 10px;
    font-size: .9em;
    min-height: 50px;
}